* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: auto;
}

a, a:hover {
    text-decoration: none;
}

.ul, ol, li {
    list-style: none;
}

/*HEADER*/
#header {
    position: absolute;
    width: 100%;
    padding: 30px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.end-menu {
    display: flex;
    align-items: center;
}

.header-burger-menu {
    background: #BE123C;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;

}

.burger-line {
    width: 17px;
    height: 2px;
    z-index: 456;
    background: #fff;
    display: flex;
    justify-content: center;
    margin: auto;
    transform: translateY(22px);
}

.burger-line:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    z-index: 456;
    background: #fff;
    bottom: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #D1D5DB;
    border-radius: 6px;
    width: 525px;
    padding: 5px 10px;
    background: none;
    color: #FFFFFF;
}

.search-icon {
    float: right;
    color: #eeeeee;
    margin-top: -23px;
    font-size: 16px;
    line-height: 24px;
}

.header-search {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.header-search:focus-visible {
    outline: none;
}


/*HEADER*/
/*-------------------------------------------*/


/*HERO*/
#hero {
    background: url("../img/Poster.png") no-repeat center/cover;
    min-height: 100vh;
}

.hero {
    padding-top: 250px;
}

.hero-title {
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-item {
    display: flex;
}

.hero-subtitle {
    width: 300px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.hero-btn {
    background: #BE123C;
    border-radius: 6px;
    padding: 7px 40px;
    color: #FFFFFF;
    top: 249px;
}

.fon {
    padding: 0 20px;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

.aaa {
    font-size: 50px;
    color: red;
}
#movie{
    padding: 50px 0;
}
.movie .slick-arrow{
    position: absolute;
}

.movie .slick-prev{
    font-size: 0;
    background: url("../img/Icon.svg") no-repeat center/20px;
    width: 38px;
    height: 20px;
    border: none;
    position: absolute;
    left: -60px;
    top: 220px;
}
.movie .slick-next{
    font-size: 0;
    background: url("../img/next(1).svg") no-repeat center/20px;
    width: 38px;
    height: 20px;
    border: none;
    position: absolute;
    right: -60px;
    top: 220px;
}
.movie .slick-dots{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
}
.movie .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.movie .slick-dots li button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #BE123C;
}
.movie .slick-dots .slick-active button{
    background: #28b718;
}
.true{
    display: flex;
    padding-top: 10px;
}
.action{
    padding-top: 10px;
}
.man{
    width: 220px;
    padding-top: 15px;
}
.batman{
    padding-top: 15px;
}
.sifr{
    display: flex;
    padding-top: 10px;
}
.action1{
    padding-top: 10px;
}

.true2{
    display: flex;
    padding-top: 10px;
}
.action2{
    padding-top: 10px;
}
.true3{
    display: flex;
    padding-top: 10px;
}
.action3{
    padding-top: 10px;
}














/*HERO*/












